@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alegreya:400,400i,500,500i,600,700i,700,900&display=swap');

/*Basic styles*/
@import 'basic/reset';
@import 'basic/typography';
@import 'basic/helper-class';

@import 'elements/section-title';
@import 'elements/button';

/*Blocks*/

@import 'blocks/header';
@import 'blocks/navigation';
@import 'blocks/banner';
@import 'blocks/footer';
@import 'blocks/slider';
@import 'blocks/service';
@import 'blocks/product';
@import 'blocks/testimonial';
@import 'blocks/blog';
@import 'blocks/about';
@import 'blocks/pizza';
@import 'blocks/counterup';
@import 'blocks/feature';
@import 'blocks/team';
@import 'blocks/contact';
@import 'blocks/bradcaump';
@import 'blocks/menu-grid';
@import 'blocks/pagination';
@import 'blocks/menu-list';
@import 'blocks/gallery';
@import 'blocks/blog-list';
@import 'blocks/blog-masonry';
@import 'blocks/about-us';
@import 'blocks/accordion';
@import 'blocks/sidebar';
@import 'blocks/blog-grid';
@import 'blocks/blog-details';
@import 'blocks/cart';
@import 'blocks/menu-details';
@import 'blocks/login';
@import 'blocks/cartbox';
@import 'blocks/checkout';
@import 'blocks/responsive';

@import "plugins";

.countdown {
    text-transform: uppercase;
    font-weight: bold;
}

.countdown span {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 3rem;
    margin-left: 0.8rem;
}

.countdown span:first-of-type {
    margin-left: 0;
}

.countdown-circles {
    text-transform: uppercase;
    font-weight: bold;
}

.countdown-circles span {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.countdown-circles span:first-of-type {
    margin-left: 0;
}

.bg-gradient-3 {
    background: transparent;
    // background: -webkit-linear-gradient(to right, #ff416c, #ff4b2b);
    // background: linear-gradient(to right, #ff416c, #ff4b2b);
}

.text-orange {
    color: darkorange;

    p {
        font-size: 54px;
        line-height: 150%;
        font-family: "Alegreya", serif;

        mark {
            background: #d50c0d;
            color: #fff;
        }
    }
}

div#sticky-header-with-topbar {
    background: #fbc01c;
}

// Practise


.food__custom__btn {
    border: none;
    font-weight: 600;
    text-transform: uppercase;
    background: orange;
    width: 100%;
}

.pp__btn {
    width: 100%;
}

ul.pp__meta {
    display: flex;
    justify-content: center;
}

.popular__food {
    position: relative;
    padding-bottom: 0px;

    .pp_food__thumb {
        min-height: 250px;
        display: flex;
        justify-content: center;

        a {
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    .pp__food__inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background: rgba(255, 255, 255, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .5s;

        &:hover {
            opacity: 1;
            transition: .5s;
        }

        .pp__food__details {
            padding: 15px;

            h4 {
                text-transform: uppercase;
                font-weight: 800;

                a {
                    color: #ed2124;
                }
            }
        }
    }
}


.btn-coutner {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background: #d50c0d;
    border: none;
    color: white;
    font-weight: 900;
    font-size: 24px;
}

.product-counter {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    box-sizing: border-box;
}

.banner__h4 {
    position: absolute;
    top: -5px;
    left: -10px;
    z-index: 10;

    mark {
        background: #d50c0d;
        color: #fff;
        padding: 5px;
        font-size: 36px;
    }
}

.rest-img {
    width: 100%;
    height: 50px;
    position: absolute;
    top: -12px;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 12;

    a {
        background: transparent;
        border:1px dashed white;

        img {
            width: 50px;
            height: 50px;
        }
    }
}


.custom__slider__input {
    span {
        line-height: 150%;
        color: white;
        padding-top: 25px;
        display: block;
    }

}


.btn-primary-custom {
    height: 100%;
    background: #d50c0d;
    font-weight: 900;
    text-transform: uppercase;
    border: none;

    &:active,
    &:focus,
    &:hover {
        background: darkred;
    }
}

.l-rest-info__container {
    padding: 20px;
    box-sizing: border-box;

    .l-rest-info__container--media {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}

.l-rest-list__container--item__content__body1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}


.search-form {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;

    input,
    button {
        width: 100%;
        padding: 10px;
        height: 50px;
    }

    .btn-food {
        color: white;
        text-transform: uppercase;
    }
}

.btn-fixed {
    position: fixed;
    z-index: 1000;
    right: 40px;
    bottom: 40px;
    width: 45px;
    padding: 5px;
    font-size: 20px;
    border-radius: 50%;
    height: 45px;

}


div.circle-button-group {
    width: 100%;
    /* height: 200px; */
    padding: 50px 0px;
    /* background: red; */
    overflow: hidden;
    /* border-radius: 50%; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .custom-btn {
        width: 33%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 16px;
        color: #5b4300;
        min-width: 200px;
        cursor: pointer;

        &:hover {
            transition: .3s;
            background: darkorange;
        }
    }

    .c-btn-1 {
        background: #fbc01c;
    }

    .c-btn-2 {
        background: #fbac1c;
    }

    .c-btn-3 {
        background: orange;
    }
}


.delivery-time {
    font-size: 24px;
    color: #9b9b9b;

    span {
        color: white;
        font-weight: 900;
    }
}


.custom-modal-dialog {
    padding: 0px 30px 50px 30px;

    .modal-content {
        background: #e3e3e3;
        border-radius: 0;

        .modal-body {
            padding: 0px 30px 50px 30px;

            h5 {
                text-align: center;
                padding: 20px;
                text-transform: uppercase;
                font-size: 24px;
                color: #d50c0d;
                font-weight: 800;
            }

            h4 {
                font-weight: 100;
            }

            hr {
                margin: 23px 0px;
                background: #dddcdc;
            }

            .btn {
                height: 50px;
                font-family: "Alegreya", serif;


            }

            .food__btn {
                text-transform: uppercase;
                font-weight: 800;
            }
        }

        select,
        input {
            height: 50px;
            font-family: "Alegreya", serif;
            background: #e1e0e0;
        }

        textarea {
            background: #e1e0e0;
            font-family: "Alegreya", serif;
            min-height: 150px;
        }
    }
}


.custom-order {


    padding: 50px 20px;
    box-sizing: border-box;

    h5 {
        text-align: center;
        padding: 20px;
        text-transform: uppercase;
        font-size: 24px;
        color: #d50c0d;
        font-weight: 800;
    }

    h4 {
        font-weight: 100;
    }

    hr {
        margin: 23px 0px;
        background: #dddcdc;
    }

    .btn {
        height: 50px;
        font-family: "Alegreya", serif;
    }

    .food__btn {
        text-transform: uppercase;
        font-weight: 800;
    }

    input {
        height: 50px;

        font-family: "Alegreya", serif;
    }

    textarea {
        font-family: "Alegreya", serif;
        min-height: 150px;
    }
}

.lazyload {
    opacity: 0;
}

.lazyloading {
    opacity: 1;
    transition: opacity 300ms;
    background: #f7f7f7 url(../img/ajax-loader.gif) no-repeat center;
}
